footer.footerr.bg-dark.p-5
  .container.text-muted
    .row
      .col-md-4.text-center.text-md-left.text-white
          strong  Contact us
            //br
            .col-md-4.text-right
                strong  email:chawlapriya25@gmail.com
                //br  
                    |Calgary Alberta
          .col-md-4.text-md-right  
    