footer.footerr.bg-dark.p-5
  .container.text-muted
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus div
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quod ratione beatae necessitatibus. Consequuntur impedit inventore cupiditate nobis? Commodi rerum qui unde laudantium ratione eaque ut aliquam tempore ad cumque.
     Call us