footer.footerr.bg-dark.p-5
  .container.text-muted
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus porro rem nesciunt dignissimos iusto ratione quis qui, necessitatibus veritatis totam quidem quia fugit, eius illum voluptatum! Dolorum recusandae possimus ipsum.