  
nav.navbar.site-header.sticky-top.navbar-dark.bg-dark.py-1
  .container.d-flex.flex-column.flex-md-row.justify-content-between
    a.text-warning.navbar-brand(href="/")= title
    a.py-2.d-none.d-md-inline-block(href='/') Home
    a.py-2.d-none.d-md-inline-block(href='/contact') Contact
