doctype html
html

  include includes/head
  body
  
     include includes/header
     .container
      != messages('message', locals)
      if errors
         each error, i in errors 
            div(class="alert alert-danger") #{error.msg}
      block content
      br
      br
      br
      br
      br
      include includes/foot
  include includes/footer